/*header*/
header {
  background-color: #f5f5f6;
}

.logo {
  float: left;
  max-width: 368px;
}

nav {
  clear: both;
  display: flex;
  justify-content: space-evenly;
}

header nav a {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  padding: 20px;
}

header nav li {
  display: inline-block;
}

header nav a:hover {
  color: #fd934e;
}
.nav .current {
  color: #fd934e;
  text-decoration: underline;
}

.toppnav {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #1a7589;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  display: inline;
}
.top {
  float: right;
}
.top a:hover {
  color: #fd934e;
}

/*body*/

.item1 {
  display: flex;
  margin-bottom: 70px;
}
.row1 {
  flex: 50%;
}
.item2 {
  display: flex;
  margin-bottom: 190px;
}
.row2 {
  flex: 33.33%;
  padding-right: 20px;
}
.itemimg {
  position: relative;
}
.img1 {
  position: absolute;
  top: 220px;
  left: 180px;
}
.img2 {
  position: absolute;
  top: 120px;
  left: 590px;
}
.img3 {
  position: absolute;
  top: 900px;
  left: 390px;
}
.img4 {
  position: absolute;
  top: 850px;
  left: 880px;
}
.img5 {
  position: absolute;
  top: 900px;
  left: 1500px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}
h5 {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
}
.banner {
  display: flex;
}
.slogan {
  text-align: center;
}
main p {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  color: #fd934e;
  text-transform: uppercase;
  text-align: left;
}
p + h2 {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
}

.bannertext {
  position: relative;
}
.hiking {
  position: absolute;
  top: 80px;
  left: 20px;
}
.camping {
  position: absolute;
  top: 80px;
  left: 400px;
}
.sightseing {
  position: absolute;
  top: 80px;
  left: 790px;
}
.skiing {
  position: absolute;
  top: 80px;
  left: 1170px;
}
.running {
  position: absolute;
  top: 80px;
  left: 1560px;
}
/*footer*/
footer {
  background-image: url("../images/backgroundfooter@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 60px;
}
.shop a,
.rainydays a,
.help a,
.signin a {
  display: block;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: #1a7589;
  margin-bottom: 5px;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  color: #1a7589;
}
.linkfooter {
  text-align: center;
  margin-top: 100px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}

/*faq*/

.title {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 60px;
  color: #494757;
  text-transform: uppercase;
  text-align: center;
}
.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #494757;
  width: 395px;
  text-transform: lowercase;
  margin-left: 700px;
}
.titletext {
  font-weight: bold;
  font-size: 25px;
  color: #494757;
  text-transform: lowercase;
  margin-left: 700px;
}
main {
  max-width: 100%;
  margin-bottom: 250px;
}
