/*-----------body----------------------------------------------------------------*/

body {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/*-----------header-----------------------------------------------------------------*/

header {
  background-color: #f5f5f6;
  position: fixed;
  width: 100%;
  z-index: 2;
  padding-top: 10px;
}
.logo {
  margin-left: 100px;
}
nav {
  clear: both;
  text-align: center;
  border-top: 4px solid #494757;
  border-bottom: 4px solid #494757;
  background-color: #ffffff;
}

header nav a {
  color: #494757;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}
header nav li {
  display: inline-block;
}

header nav a:hover,
.top a:hover {
  color: #b94a00;
}
.nav .current {
  color: #b94a00;
  text-decoration: underline;
}
ul {
  margin: 10px 5px 0px 5px;
}
.toppnav {
  color: #1a7589;
  text-transform: uppercase;
  display: inline;
  padding: 10px;
}
.top {
  float: right;
  margin-right: 20px;
  text-decoration: none;
}
.test {
  float: right;
  margin-right: 20px;
}
.current {
  color: #b94a00;
}

/*-----------main-----------------------------------------------------------------*/

main {
  margin-bottom: 240px;
  margin-top: 273px;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}

.img1 {
  margin-bottom: 40px;
}
.container7,
.container8,
.container9 {
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  bottom: 100px;
  right: 20px;
  color: #ffffff;
  font-size: 35px;
}
.text1 {
  position: absolute;
  bottom: 60px;
  right: 20px;
  color: #ffffff;
}
.hrtext {
  position: absolute;
  bottom: 85px;
  right: 0px;
}
.hrtext2 {
  position: absolute;
  bottom: 385px;
  left: 0px;
}
.line2 {
  border: 2px solid #ffffff;
  width: 310px;
}
.line3 {
  border: 2px solid #ffffff;
  width: 215px;
}
.line4 {
  border: 2px solid #ffffff;
  width: 240px;
}
.line5,
.line6,
.line7,
.line8 {
  border: 2px solid #ffffff;
}
.line5 {
  width: 615px;
}
.line6 {
  width: 140px;
}
.line7 {
  width: 110px;
}
.line8 {
  width: 195px;
}
.container {
  position: relative;
  text-align: center;
}
.textmen {
  position: absolute;
  bottom: 120px;
  right: 400px;
  color: #ffffff;
  font-size: 90px;
  text-transform: uppercase;
}
.textna {
  position: absolute;
  color: #ffffff;
  font-size: 70px;
  text-transform: uppercase;
  top: 20px;
  left: 230px;
}
.textna2 {
  position: absolute;
  color: #ffffff;
  font-size: 70px;
  text-transform: uppercase;
  top: 100px;
  left: 150px;
}

.hrmen {
  position: absolute;
  bottom: 125px;
  right: 0px;
}
.hrna {
  position: absolute;
  bottom: 400px;
  left: 0px;
}
.line {
  border: 2px solid #ffffff;
  width: 518px;
}
.line9 {
  border: 2px solid #ffffff;
  width: 518px;
}
.img1,
.img2,
.img3,
.img4,
.imgbanner {
  width: 100%;
}

/*-----------banner-----------------------------------------------------------------*/

.imgbanner1 {
  grid-area: imgbanner1;
  width: 100%;
}
.imgbanner2 {
  grid-area: imgbanner2;
  width: 100%;
}
.imgbanner3 {
  grid-area: imgbanner3;
  width: 100%;
}
.imgbanner4 {
  grid-area: imgbanner4;
  width: 100%;
}
.imgbanner5 {
  grid-area: imgbanner5;
  width: 100%;
}

.banner {
  display: grid;
  grid-template-areas: "imgbanner1 imgbanner2 imgbanner3 imgbanner4 imgbanner5";
  width: 100%;
}

.slogan {
  text-align: center;
}
.container2,
.container3,
.container4,
.container5,
.container6 {
  position: relative;
}
.hiking,
.camping,
.sightseing,
.skiing,
.running {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

/*-----------footer-----------------------------------------------------------------*/

footer {
  background-image: url("../images/backgroundfooter@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f5f5f6;
  margin-top: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1a7589;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}
.shop a,
.rainydays a,
.help a,
.signin a {
  display: block;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #1a7589;
}
h4 {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
}
.linkfooter {
  text-align: center;
  margin-top: 100px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}
.fab {
  color: #1a7589;
}
.socialmedia {
  display: inline-flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  margin-bottom: 100px;
}

/*-----------grid body-----------------------------------------------------------------*/

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
}
.jacketmen {
  display: flex;
  gap: 20px;
}

/*-----------jacket-----------------------------------------------------------------*/

.left {
  grid-area: left;
}
.right {
  grid-area: right;
  background-color: #dcdbde;
  padding: 0px 70px 0px 70px;
  margin-bottom: 10px;
  background-image: url("../images/background_smal.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.jacketshowing {
  display: grid;
  grid-template-areas: "left right";
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.titlejacket {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: #494757;
  font-size: 60px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 20px;
}
.undertitle,
.undertitle2,
.undertitle3 {
  border: 2px solid #494757;
  width: 450px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.subtitle {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 2px;
}
.textjacketprice {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  color: #b94a00;
}
.textjacket {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
}
.discription {
  margin-top: 10px;
  margin-bottom: 20px;
}
.display {
  display: flex;
  gap: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.display1,
.display2 {
  border-radius: 5px;
}
.display2 {
  opacity: 50%;
}
.size {
  display: flex;
  gap: 11px;
  margin-bottom: 20px;
  font-size: 25px;
}
.smal,
.medium,
.large,
.xlarge {
  color: #ffffff;
  background-color: #c6c4ca;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 25px 3px 25px;
  border-radius: 5px;
}
.smal:hover,
.medium:hover,
.large:hover,
.xlarge:hover {
  color: #ffffff;
  background-color: #b94a00;
}
.button {
  display: flex;
  gap: 10px;
}
.addtobag,
.checkout {
  color: #ffffff;
  background-color: #b94a00;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 59px 3px 59px;
  border-radius: 5px;
}
.checkout1 {
  text-decoration: none;
}
.addtobag:hover,
.checkout:hover {
  color: #b94a00;
  background-color: #ffffff;
}

/*-----------checkout-----------------------------------------------------------------*/

.title,
.titleright {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: #494757;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  margin-bottom: 0px;
}
.leftcheckout {
  grid-area: leftcheckout;
  text-align: center;
}
.rightcheckout {
  grid-area: rightcheckout;
  text-align: center;
  margin-top: 50px;
}

.checkoutpage {
  display: grid;
  grid-gap: 40px;
  width: 850px;
  margin: auto;
  grid-template-areas: "leftcheckout rightcheckout";
}
.subtitleleft,
.subtitleright,
.subtitlesize {
  font-size: 30px;
}
.textcheckout1 {
  font-size: 20px;
  text-transform: uppercase;
}

.textcheckoutleft1,
.textcheckoutright1,
.textcheckoutleft2,
.textcheckoutright2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
}
.textcheckouttotalleft,
.textcheckouttotalright {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
}
.orange {
  color: #b94a00;
}
/*-----------checkout grid-----------------------------------------------------------------*/

.yourbagimg {
  border-radius: 5px;
  grid-area: img;
  margin-left: 0px;
}
.subtitleleft {
  grid-area: subleft;
  text-align: left;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
.subtitleright {
  color: #b94a00;
  grid-area: subright;
  text-align: right;
  margin: 5px 0px 0px 0px;
}
.subtitlesize {
  grid-area: size;
  text-align: left;
  margin-left: 5px;
  margin-top: 0px;
  padding: 0px;
}

.textcheckout1 {
  grid-area: bin;
  text-align: right;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
}

.undertitle2 {
  grid-area: line1;
}

.textcheckoutleft1 {
  grid-area: order;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.textcheckoutright1 {
  grid-area: orderprize;
  text-align: right;
  margin: 0px 0px 0px 0px;
}

.textcheckoutleft2 {
  grid-area: shipping;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.textxheckoutright2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: shippingprize;
  text-align: right;
  margin: 0px 0px 0px 0px;
}

.undertitle3 {
  grid-area: line2;
}

.textcheckouttotalleft {
  grid-area: total;
  text-align: left;
  margin-top: 0px;
}

.textcheckouttotalright {
  grid-area: totalprize;
  text-align: right;
  margin-top: 0px;
}

.yourbag {
  margin-top: 10px;
  gap: 5px;
  padding: 5px 0px 10px 0px;
  display: grid;
  grid-template-areas:
    "img subleft subright"
    "img size size"
    "img bin bin"
    "line1 line1 line1"
    "order order orderprize"
    "shipping shipping shippingprize"
    "line2 line2 line2"
    "total total totalprize";
}
/*-----------form checkout-----------------------------------------------------------------*/

.rightcheckout .leftalign {
  text-align: left;
}
.formtext {
  background-color: #c6c4ca;
  padding: 5px 0px 7px 5px;
  border-radius: 5px 0px 0px 5px;
}
.mail,
.password,
.name,
.adress,
.email,
.phone,
.cardnr,
.date,
.ccv,
.mailsignin,
.passwordsignin {
  border: none;
  background-color: #c6c4ca;
  height: 40px;
  margin-top: 10px;
  border-radius: 0px 5px 5px 0px;
  color: #e2e1e4;
}
.mail {
  width: 400px;
}
.password {
  width: 348px;
}
.name {
  width: 382px;
}
.phone {
  width: 378px;
}
.adress,
.email {
  width: 370px;
}
.cardnr {
  width: 317px;
}
.date {
  width: 300px;
}
.ccv {
  width: 400px;
}
.check,
.guest {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
.guest {
  font-size: 30px;
  margin-bottom: 10px;
}
.send,
.payment {
  border: none;
  background-color: #b94a00;
  color: #ffffff;
  text-align: center;
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  width: 450px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 10px 0px 2px 0px;
  text-decoration: none;
}
.send:hover,
.payment:hover,
.shopnow:hover {
  color: #b94a00;
  background-color: #ffffff;
  border: 1px solid #b94a00;
}
.titlepayment,
.textpayment,
.titlepayment2,
.titlepayment3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  margin: 1px 0px 1px 0px;
}
.titlepayment,
.titlepayment2,
.titlepayment3 {
  font-weight: bold;
}
.titlepayment2 {
  margin-bottom: 5px;
  margin-top: 40px;
}
.card .fab {
  width: 80px;
  color: #b94a00;
}
/* -----------shipped----------------------------------------------------------------*/

.shipped {
  max-width: 450px;
  margin: auto;
}
.titlepayment3 {
  text-align: left;
  margin-top: 20px;
}
.car {
  margin: 20px 0px 20px 0px;
  color: #b94a00;
}
.linkshipped {
  color: #b94a00;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}
.linkshipped .fab {
  color: #b94a00;
  padding: 0px 10px 0px 10px;
  margin-top: 0px;
}

/*-----------about us-----------------------------------------------------------------*/
.textabout,
.subtitleabout,
.textabout2,
.textabout3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.subtitleabout,
.textabout2 {
  text-align: center;
}
.subtitleabout {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}
.textabout,
.textabout3 {
  text-align: left;
}
.textabout3 {
  font-weight: bold;
}
.linkstore {
  color: #b94a00;
  font-style: italic;
  text-decoration: #b94a00;
}
.marker .fas {
  color: #b94a00;
  text-align: right;
  margin: 0px -100px 0px 0px;
}
.marker {
  margin-bottom: 0px;
}
.textabout2 {
  margin-top: 0px;
}
/*-----------contact us-----------------------------------------------------------------*/

.question {
  border: none;
  background-color: #c6c4ca;
  height: 100px;
  width: 445px;
  margin-top: 10px;
  border-radius: 5px;
  color: #e2e1e4;
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin-left: 0px;
}
.titleright {
  margin-top: 0px;
}
.paperplane {
  text-align: center;
  margin: 10px 0px 10px 0px;
}
/*-----------shop now button-----------------------------------------------------------------*/
.shopnow {
  border: none;
  background-color: #b94a00;
  color: #ffffff;
  text-align: center;
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  width: 200px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 10px 0px 2px 0px;
  text-decoration: none;
}
.paperplane .shopnow {
  margin: auto;
}
/*-----------sign in-----------------------------------------------------------------*/
.signinuser {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
.mailsignin {
  width: 392px;
}
.passwordsignin {
  width: 343px;
}

.form-error {
  color: red;
  display: none;
  font-size: 18px;
  padding-bottom: 20px;
}

#name,
#address,
#email {
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
}

/*-----------media queries----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  aside,
  .textna,
  .textna2,
  .img1,
  .test,
  .search {
    display: none;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }

  .jacketmen {
    display: grid;
    grid-template-areas:
      "img2"
      "img3"
      "img4";
  }
  .top {
    margin-right: 150px;
  }
  nav {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    padding-left: 10px;
  }
  .hamburger-label {
    float: right;
    color: #b94a00;
    padding-left: 10px;
  }
  header nav li {
    display: block;
  }
  label i {
    padding-left: 10px;
  }
  .logo {
    max-width: 300px;
    margin-left: 0px;
    padding-left: 20px;
  }
  .text {
    font-size: 25px;
  }
  .leftcheckout {
    grid-area: leftside;
  }
  .rightcheckout {
    grid-area: rightside;
  }
  .checkoutpage {
    margin-left: 10px;
    padding-left: 0px;
    max-width: 100%;
    display: grid;
    grid-template-areas:
      "leftside"
      "rightside";
  }
  .form {
    max-width: 400px;
    margin: auto;
  }
  #name,
  #address,
  #email {
    padding-bottom: 20px;
    margin: auto;
    max-width: 100%;
  }
  .leftcheckout,
  .rightcheckout {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 300px;
  }
  hr {
    max-width: 300px;
  }
  footer,
  header {
    max-width: 400px;
  }

  .left {
    grid-area: leftjacket;
  }
  .right {
    grid-area: rightjacket;
    max-width: 400px;
    background-image: none;
    padding: 0px 10px 0px 10px;
  }
  .jacketshowing {
    max-width: 400px;
    display: grid;
    grid-template-areas:
      "leftjacket"
      "rightjacket";
  }
  .size,
  .display {
    display: none;
  }
  .button {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) {
  #hamburger-menu {
    display: none;
  }
  label .fas {
    display: none;
  }
}
