h1 {
  font-family: "Gill Sans Nova", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  color: #1a7589;
}
h2 {
  font-family: "Gill Sans Nova", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #1a7589;
}
header nav a {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  padding: 10px;
}
header nav li {
  display: inline-block;
}
header nav a:hover {
  text-decoration: underline 2px;
  color: #fd934e;
}
header {
  background-color: #f5f5f6;
}
.active {
  text-decoration: underline 2px;
  color: #fd934e;
}
.boldsemi {
  font-family: SemiBold Italic;
}
footer nav a {
  font-family: "Gill Sans Nova", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-style: normal;
  color: #1a7589;
  text-decoration: none;
}
footer nav li {
  display: inline-block;
}
