/*header*/
header {
  background-color: #f5f5f6;
}

header nav a {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

header nav li {
  display: inline-block;
}

header nav a:hover {
  color: #fd934e;
}

tr .navtopp {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #1a7589;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  text-align: right;
}

/*maine*/
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}

/*footer*/
footer {
  background-image: url("../images/backgroundfooter@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
