/*body*/
body {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  margin: 0px;
  width: 100%;
}

/*header*/
header {
  background-color: #f5f5f6;
  position: fixed;
  width: 100%;
  z-index: 2;
  padding-top: 10px;
}
.logo {
  margin-left: 100px;
}
nav {
  clear: both;
  text-align: center;
  border-top: 4px solid #494757;
  border-bottom: 4px solid #494757;
  background-color: #ffffff;
}

header nav a {
  color: #494757;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}
header nav li {
  display: inline-block;
}

header nav a:hover,
.top a:hover {
  color: #fd934e;
}
.nav .current {
  color: #fd934e;
  text-decoration: underline;
}
ul {
  margin: 7px 5px 2px 5px;
}
.toppnav {
  color: #1a7589;
  text-transform: uppercase;
  display: inline;
  padding: 10px;
}
.top {
  float: right;
  margin-right: 20px;
}
.test {
  float: right;
  margin-right: 20px;
}
/*main*/
main {
  margin-bottom: 240px;
  margin-top: 300px;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}

.img1 {
  margin-bottom: 40px;
}
.container7,
.container8,
.container9 {
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  bottom: 100px;
  right: 20px;
  color: #ffffff;
  font-size: 35px;
}
.text1 {
  position: absolute;
  bottom: 60px;
  right: 20px;
  color: #fd934e;
}
.hrtext {
  position: absolute;
  bottom: 85px;
  right: 0px;
}
.line2 {
  border: 2px solid #ffffff;
  width: 310px;
}
.line3 {
  border: 2px solid #ffffff;
  width: 215px;
}
.line4 {
  border: 2px solid #ffffff;
  width: 240px;
}

.container {
  position: relative;
  text-align: center;
}
.textmen {
  position: absolute;
  bottom: 120px;
  right: 400px;
  color: #ffffff;
  font-size: 90px;
  text-transform: uppercase;
}
.hrmen {
  position: absolute;
  bottom: 125px;
  right: 0px;
}
.line {
  border: 2px solid #ffffff;
  width: 518px;
}
.img1,
.img2,
.img3,
.img4,
.imgbanner {
  width: 100%;
}

/*banner*/
.imgbanner1 {
  grid-area: imgbanner1;
  width: 100%;
}
.imgbanner2 {
  grid-area: imgbanner2;
  width: 100%;
}
.imgbanner3 {
  grid-area: imgbanner3;
  width: 100%;
}
.imgbanner4 {
  grid-area: imgbanner4;
  width: 100%;
}
.imgbanner5 {
  grid-area: imgbanner5;
  width: 100%;
}

.banner {
  display: grid;
  grid-template-areas: "imgbanner1 imgbanner2 imgbanner3 imgbanner4 imgbanner5";
  width: 100%;
}

.slogan {
  text-align: center;
}
.container2,
.container3,
.container4,
.container5,
.container6 {
  position: relative;
}
.hiking,
.camping,
.sightseing,
.skiing,
.running {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

/*footer*/
footer {
  background-image: url("../images/backgroundfooter@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f5f5f6;
  margin-top: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1a7589;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}
.shop a,
.rainydays a,
.help a,
.signin a {
  display: block;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #1a7589;
}
h4 {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
}
.linkfooter {
  text-align: center;
  margin-top: 100px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}

/*grid*/

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
}
.jacketmen {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "img2 img2 img3 img4 img4";
}
