/*header*/
header {
  background-color: #f5f5f6;
}

.logo {
  float: left;
  max-width: 368px;
}

nav {
  box-sizing: border-box;
  border: #494757;
  border-top: #494757 2px;
  border-bottom: #494757 2px;
  clear: both;
}

header nav a {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}

header nav li {
  display: inline-block;
}

header nav a:hover {
  color: #fd934e;
}

.toppnav {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #1a7589;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  float: right;
}

/*body*/
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}
h5 {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #1a7589;
  text-transform: uppercase;
  display: inline-block;
}
.banner {
  display: flex;
  width: auto;
}
.slogan {
  text-align: center;
}
main p {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  color: #fd934e;
  text-transform: uppercase;
  text-align: right;
}
p + h2 {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 35px;
  color: #494757;
  text-transform: uppercase;
  text-align: right;
}

.bannertext {
  position: relative;
}
.running {
  position: absolute;
  top: 5px;
  left: 250px;
}
/*footer*/
footer {
  background-image: url("../images/backgroundfooter@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.shop a,
.rainydays a,
.help a,
.signin a {
  display: block;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: #1a7589;
  margin-bottom: 5px;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  color: #1a7589;
}
.linkfooter {
  text-align: center;
  margin-top: 100px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}
