/*body*/
body {
  font-family: "DIN Condensed", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #494757;
  text-decoration: none;
  max-width: 100%;
}

/*header*/
header {
  background-color: #f5f5f6;
}

nav {
  clear: both;
  display: block;
  text-align: center;
  border: 4px solid #494757;
  max-height: 60px;
  background-color: aqua;
  backdrop-filter: blur(5px);
}
header nav a {
  color: #494757;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}
header nav li {
  display: inline-block;
}

header nav a:hover,
.top a:hover {
  color: #fd934e;
}
.nav .current {
  color: #fd934e;
  text-decoration: underline;
}
.toppnav {
  color: #1a7589;
  padding: 5px;
  text-transform: uppercase;
  display: inline;
}
.top {
  float: right;
}
/*main*/
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  color: #1a7589;
}
h5 {
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
}

/*banner*/
.banner {
  display: flex;
}
.slogan {
  text-align: center;
}
.bannertext {
  position: relative;
}
.hiking {
  position: absolute;
  top: 80px;
  left: 20px;
}
.camping {
  position: absolute;
  top: 80px;
  left: 400px;
}
.sightseing {
  position: absolute;
  top: 80px;
  left: 790px;
}
.skiing {
  position: absolute;
  top: 80px;
  left: 1170px;
}
.running {
  position: absolute;
  top: 80px;
  left: 1560px;
}

/*footer*/
footer {
  background-image: url("../images/backgroundfooter@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1a7589;
  font-size: 20px;
  text-decoration: none;
}
.shop a,
.rainydays a,
.help a,
.signin a {
  display: block;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #1a7589;
}
h4 {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
}
.linkfooter {
  text-align: center;
  margin-top: 100px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}

/*grid*/

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
}
main {
  display: grid;
  padding: 10px;
  grid-template-areas:
    "img1 img1 img1 img1 img1"
    "img2 img2 img3 img4 img4";
}
